body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #dddddd;
}

header {
  background: #562eff;
  padding: 10px;
}

.navigation {
  background: #562eff;
  display: flex;
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: white;
  display: flex;
  gap: 15px;
  padding: 10px;
  align-items: center;
  font-size: 24px;
}

.menu {
  color: white;
  text-decoration: none;
  list-style: none;
  display: flex;
  column-gap: 50px;
  font-size: 16px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.section-1 {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-top: 50px;
  background-color: white;
  height: 679px;
}

.players {
  display: flex;
  flex-wrap: wrap;
  }

  .player {
  color: black;
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: white;
  display: flex;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  }
.section-1>div>h2 {
  color: #562eff;
  font-size: 24px;
  padding: 20px;
}

.player>img {
  margin: 0;
}
.player>p {
  margin: 0;
  
}


